@mixin simple-list-item() {   
    color: $background-color;
    background: $background-main-color;
    border-radius: 0.1rem;

    margin-bottom: 0.5rem;
    padding: 0.3rem;
    width: 100%;
    display: inline-flex;
}