@mixin simple-list-item() {

    color: $background-color;
    background: $background-main-color;
    border-radius: 0.1rem;
    padding: $element-spacing;
    width: 100%;
    display: inline-flex;
}