@import '../utils/index';
.automessage-history {
    >*+* {
        margin-top: $element-spacing;
    }
    &__line {
        display: inline-flex;
        justify-content: space-between;
        width: 100%;
    }
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    color: $background-color;
    background: $background-main-color;
    border-radius: 0.1em;
    padding: $element-spacing;
    flex-wrap: wrap;
    &__duration-limit {
        @include prepend-svg("../../svg/time.svg");
    }
    &__message-limit {
        @include prepend-svg("../../svg/message-typing.svg");
    }
    &__date {
        @include prepend-svg("../../svg/calendar.svg");
    }
    &__message {
        @include prepend-svg("../../svg/message.svg");
    }
    &__game {
        @include prepend-svg("../../svg/media-play.svg");
    }
    &__user {
        @include prepend-svg("../../svg/user-outline.svg");
        @include simple-tooltip;
    }
}