@import '../utils/index';
.automessage-edit {
    &__duration-limit>label {
        @include prepend-svg("../../svg/time.svg", 1.30em, black);
    }
    &__message-limit>label {
        @include prepend-svg("../../svg/message-typing.svg", 1.30em, black);
    }
    &__message>label {
        @include prepend-svg("../../svg/message.svg", 1.30em, black);
    }
    &__history {
        display: flex;
        flex-direction: column;
    }
    &__header {
        font-weight: bolder;
        padding-top: 0.3em;
        padding-bottom: 0.3em;
        font-size: 1.3em;
    }
}