@import '../utils/index';
.automessage-list {
    &__items {
        display: flex;
        flex-direction: column;
    }
    &__header {
        font-weight: bolder;
        padding-top: 0.3em;
        padding-bottom: 0.3em;
        font-size: 1.3em;
    }
    &__item {
        color: $background-color;
        background: $background-main-color;
        border-radius: 0.1em;
        margin-top: 0.3em;
        margin-bottom: 0.3em;
        padding: 0.3em;
        width: 100%;
        display: inline-flex;
        &__body {
            flex-grow: 2;
        }
        &__duration-limit {
            display: inline-flex;
            align-items: center;
            &:before {
                content: "";
                background: svg-load("../../svg/time.svg", fill=#fff);
                @include svg-size(1.05em);
            }
        }
        &__message-limit {
            display: inline-flex;
            align-items: center;
            &:before {
                content: "";
                background: svg-load("../../svg/message-typing.svg", fill=#fff);
                @include svg-size(1.05em);
            }
        }
        &__message {
            flex-grow: 2;
            display: inline-flex;
            align-items: center;
            &:before {
                content: "";
                background: svg-load("../../svg/message.svg", fill=#fff);
                @include svg-size(1.05em);
            }
        }
    }
}