@import '../utils/index';
.channel-users {
    > * + * {
        margin-top: $element-spacing;
    }
    &__header {
        font-weight: bolder;
        font-size: 1.2rem;
    }
    &__container {
        margin-left: -0.1em;
        margin-right: -0.1em;
        display: flex;
        flex-wrap: wrap;
        &__user-link {
            text-decoration: none;
            background-color: $background-main-color;
            color: $background-color;
            margin: 0.1em;
            padding: $element-spacing;
            border-radius: 3px;
            display: inline-flex; // flex-basis: 250px;
            // flex-grow: 2;
            flex-grow: 2;
            justify-content: center;
            &__user {
                font-weight: bolder;
            }
        }
    }
}