@import '../utils/index';
.channel-users {
    &__header {
        font-weight: bolder;
        padding-top: 0.3em;
        padding-bottom: 0.3em;
        font-size: 1.3em;
    }
    &__container {
        margin-left: -0.1em;
        margin-right: -0.1em;
        display: flex;
        flex-wrap: wrap;
        &__user-link {
            text-decoration: none;
            background-color: $background-main-color;
            color: $background-color;
            margin: 0.1em;
            padding: 0.2em;
            border-radius: 3px;
            display: inline-flex;
            // flex-basis: 250px;
            // flex-grow: 2;
            &__user {
                font-weight: bolder;
            }
        }
    }
}