@import '../utils/index';
.channel-bans {
    > * + * {
        margin-top: $content-spacing;
    }
    &__item {
        @include simple-list-item();
        flex-wrap: no-wrap;
        flex-direction: row;
        justify-content: space-between;
        & + & {
            margin-top:$element-spacing;
        }
    }
    &__date {
        @include prepend-svg("../../svg/time.svg", 1.2rem, white);
    }
}