@import '../utils/index';
.channel-index {
    >*+* {
        margin-top: $content-spacing;
    }
    &__mod-channels {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-left: -0.1rem;
        margin-right: -0.1rem;
        &>a {
            @include button;
            margin: 0.2rem;
      
        }
    }
}