@import '../utils/index';
.control-group {
  > * + * {
    margin-top: $element-spacing;
  }
  input {
    transition: all 0.3s ease-in-out;
  }
  label,
  #{$all-text-inputs} {
    display: block;
  }
  &.has-error {
    label {
      font-weight: bold;
    }
    // color: $color-error;
    // ;
    input {
      border-width: 1px;
      border-color: $color-error !important;
      &:hover,
       :focus {
        border-width: 1px;
        border-color: $color-error !important;
      }
    }
    .help-block {
      color: $color-error;
      font-weight: bolder;
    }
  }
}