@import '../utils/index';
.control-group {
  > * + * {
    margin-top: $element-spacing;
  }
  label,
  #{$all-text-inputs} {
    display: block;
  }
  &.has-error {
    label {
      font-weight: bold;
    }
    // color: $color-error;
    // ;
    input {
      border-width: 2px;
      border-color: $color-error !important;
      &:hover,
       :focus {
        border-width: 1px;
        border-color: $color-error !important;
      }
    }
  }
}