@import '../utils/index';
.external-services {
    > * + * {
        margin-top: $element-spacing;
    }
    &__header {
        @include header;
    }
    &__subheader {
        font-size: 1.2rem;
        font-weight: bolder;
    }
}