@import '../utils/index';
.songrequests {
    >*+* {
        margin-top: $element-spacing;
    }
    &__container {
        display: flex;
        flex-direction: column;
        @include breakpoint($desktop-width) {
            flex-direction: row;
        }
    }
    &__requests {
        width: 100%;
        >*+* {
            margin-top: $element-spacing;
        }
        @include breakpoint($desktop-width) {
            width: 30%;
            padding-left: $element-spacing;
        }
    }
    &__player {
        width: 100%;
        @include breakpoint($desktop-width) {
            width: 70%;
        }
    }
}