@import '../utils/index';
.subscriptions-show {
    >*+* {
        margin-top: $element-spacing;
    }
    &__header {
        @include header;
    }
    &__error {
        padding: $element-spacing;
        background: tint($color-error, 60%);
        border-left: 0.2rem solid $color-error;
        font-weight: bolder;
    }
    &__items {
        >*+* {
            margin-top: $element-spacing;
        }
    }
    &__item {
        &--bookmarked {
            background-color: #087e8b;
        }
        @include simple-list-item;
        justify-content: space-between;
        &__user {
            &:before {
                margin-right: $element-spacing;
            }
            &--prime {
                @include prepend-svg("../../svg/crown.svg");
            }
            &--five-dollars {
                &:before {
                    content: "5$";
                    font-weight: bolder;
                }
            }
            &--ten-dollars {
                &:before {
                    content: "10$";
                    font-weight: bolder;
                }
            }
            &--twenty-five-dollars {
                &:before {
                    content: "25$";
                    font-weight: bolder;
                }
            }
            @include simple-tooltip;
        }
        &__date {
            @include prepend-svg("../../svg/calendar.svg");
        }
    }
}