@import '../utils/index';
.subalert-history {
    display: inline-flex;
    flex-direction: column;
    width: 100%;
    color: $background-color;
    background: $background-main-color;
    border-radius: 0.1em;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
    padding: 0.3em;
    flex-wrap: wrap;
    &__date {
        @include prepend-svg("../../svg/calendar.svg");
    }
    &__row {
        display: inline-flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }
    &__body {
        @include prepend-svg("../../svg/message.svg");
    }
    &__user {
        @include prepend-svg("../../svg/user-outline.svg");
        &__tooltip {
            visibility: hidden;
            background-color: white;
            color: black;
            text-align: center;
            padding: 0.1em;
            border: 1px solid black;
            position: absolute;
            z-index: 1;
        }
        &:hover &__tooltip {
            visibility: visible;
        }
    }
    &__repeat-body {
        @include prepend-svg("../../svg/refresh.svg");
    }
    &__sub-message {
        @include prepend-svg("../../svg/message.svg");
    }
    &__resub-message {
        @include prepend-svg("../../svg/message-typing.svg");
    }
}