@import '../utils/index';
.subalert-show {
    &__header {
        font-weight: bolder;
        padding-top: 0.3em;
        padding-bottom: 0.3em;
        font-size: 1.3em;
    }
    &__history {
        display: flex;
        flex-direction: column;
    }
    &__repeat-body>label {
        @include prepend-svg("../../svg/refresh.svg", 1.30em, black);
    }
    &__sub-message>label {
        @include prepend-svg("../../svg/message.svg", 1.30em, black);
    }
    &__resub-message>label {
        @include prepend-svg("../../svg/message-typing.svg", 1.30em, black);
    }
}