@import '../utils/index';
.template-show {
    >*+* {
        margin-top: $element-spacing;
    }
    &__header {
        font-weight: bolder;
        font-size: 1.2rem;
    }
    &__history {
        >*+* {
            margin-top: $element-spacing;
        }
        display: flex;
        flex-direction: column;
    }
}