.template-list {
    display: flex;
    flex-direction: column;
    &__container {
        display: inline-flex;
        flex-wrap: wrap;
    }
    &__filter {
        display: inline-flex;
        &__template {
            background-color: $color-ok;
            .sprite {
                background: svg-load("../svg/pencil.svg", fill=#fff);
            }
        }
        &__deleted {
            background-color: $color-error;
            color: $background-color;
            .sprite {
                background: svg-load("../svg/delete-outline.svg", fill=#fff);
            }
        }
        &__alias {
            background-color: $color-active;
            .sprite {
                background: svg-load("../svg/arrow-forward.svg", fill=#fff);
            }
        }
        >button {
            margin-left: 0.2em;
            display: inline-flex;
            align-items: center;
            .sprite {
                @include svg-size(1.05em);
                display: inline-flex;
            }
            .text {
                display: inline-flex;
            }
            &.disabled {
                .sprite {
                    display: none
                }
                filter: contrast(0.7) grayscale(50);
            }
        }
    }
}