$item-border-width: 6px;
@import '../utils/index';


.template-list-item {
    display:flex;
    flex-direction: column;
    >div {
        padding-left: 0.15em;
        padding-right: 0.15em;
    }
    color: $background-color;
    background: $background-main-color;
    //  @include media($size-sm) {
    width: 100%;
    //  }
    &__header {
        display: inline-flex;
        align-items: center;
        .sprite {
            @include svg-size(1.05em !important);
            display: inline-flex;
        }
        .text {
            display: inline-flex;
        }
    }
    display: inline-flex;
    flex-direction: column;
    @include sm-breakpoint {
        flex-direction: row;
    }
    &__body {
        word-wrap: break-word;
        max-width: 100%;
        width: 100%;
    }
    border-radius: 0.1em;

    padding: 0.3em;
    &__name {
        font-weight: bolder;
        // @include media($size-sm) {
        //     min-width: 12%;
        // }
    }
    &-template {
        border-left: $item-border-width solid $color-ok;
        border-right: $item-border-width solid $color-ok;
        .sprite {
            background: svg-load("../svg/pencil.svg", fill=#fff);
        }
        //    background-color: $color-ok;
    }
    &-deleted {
        border-left: $item-border-width solid $color-error;
        border-right: $item-border-width solid $color-error;
        //     background-color: $background-main-color;
        .sprite {
            background: svg-load("../svg/delete-outline.svg", fill=#fff);
        }
    }
    &-alias {
        border-left: $item-border-width solid $color-active;
        border-right: $item-border-width solid $color-active;
        .sprite {
            background: svg-load("../svg/arrow-forward.svg", fill=#fff);
        }
        //background-color: $color-active;
    }
}