@import '../utils/index';
.template-history {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    color: $background-color;
    background: $background-main-color;
    border-radius: 0.1em;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
    padding: 0.3em;
    flex-wrap: wrap;
    &__row {
        display: inline-flex;
        justify-content: space-between;
        flex-direction: row;
        width: 100%;
    }
    &__date {
        @include prepend-svg("../../svg/calendar.svg");
    }
    &__body {
        @include prepend-svg("../../svg/message.svg");
    }
    &__user {
        @include prepend-svg("../../svg/user-outline.svg");
        @include simple-tooltip;
    }
}