@import '../utils/index';
.template-list {
    >*+* {
        margin-top: $element-spacing;
    }
    display: flex;
    flex-direction: column;
    &__container {
        >*+* {
            margin-top: $element-spacing;
        }
        display: inline-flex;
        flex-wrap: wrap;
    }
    &__header {
        font-weight: bolder;
        font-size: 1.2rem;
    }
    &__filter {
        display: inline-flex;
        &__template {
            background-color: $color-ok;
            .sprite {
                background: svg-load("../svg/pencil.svg", fill=#fff);
            }
        }
        &__deleted {
            background-color: $color-error;
            color: $background-color;
            .sprite {
                background: svg-load("../svg/delete-outline.svg", fill=#fff);
            }
        }
        &__alias {
            background-color: $color-active;
            .sprite {
                background: svg-load("../svg/arrow-forward.svg", fill=#fff);
            }
        }
        >button {
            display: inline-flex;
            align-items: center;
            .button-content {
                display: inline-flex;
                align-items: center;
            }
            .sprite {
                @include svg-size(1.05em);
                display: inline-flex;
            }
            .text {
                display: inline-flex;
            }
            &.disabled {
                .sprite {
                    display: none
                }
                filter: contrast(0.7) grayscale(50);
            }
        }
    }
}