@import '../utils/index';
.user-logs {
    >*+* {
        margin-top: $element-spacing;
    }
    &__history {
        width: 100%;
        color: $background-color;
        background: $background-main-color;
        border-radius: 0.1em;
        padding: $element-spacing;
        display: flex;
        flex-direction: column;
        &__date {
            @include prepend-svg("../../svg/calendar.svg");
        }
        &__message-body {
            @include prepend-svg("../../svg/message.svg");
        }
        &__timeout,
        &__ban {
            @include prepend-svg("../../svg/delete-outline.svg");
            font-weight: bolder;
        }
        &__user {
            @include prepend-svg("../../svg/user-outline.svg");
        }
        &__row {
            display: flex;
            justify-content: space-between;
        }
    }
}